<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="polygonize" class="org.geotools.process.geometry.gs.PolygonizeProcess"/>
    <bean id="splitPolygon" class="org.geotools.process.geometry.gs.SplitPolygonProcess"/>
</beans>
